<head>
  <link rel="stylesheet" href="/styles.css" />
</head>
<div>
  <h1><%= title %></h1>
  <ul class="outer-list">
    <% messages.map((message, index) => { %>
    <li>
      <ul class="inner-list">
        <li>Name: <%=message.user %></li>
        <li>Text: <%=message.text %></li>
        <li>Date: <%=message.added %></li>
        <button><a href="messages/<%=index %>">Open Message</a></button>
      </ul>
    </li>
    <% })%>
  </ul>
</div>
<footer>
  <a href="/new">Go to new message Form</a>
</footer>
